.footnoteNumber {
	/* position: absolute; */
	/* left: 0rem; */
	padding-top: 0rem;
	font-size: 1rem !important;
	/* line-height: 1.5rem; */
	font-weight: 400 !important;
	font-style: normal;
transform: scale(0.4);
transform-origin: left center;
	/* transform: translateY(-4rem); */
}