.footnoteNumber {
	/* position: absolute; */
	/* left: 0rem; */
	/* padding-top: 0rem; */
	font-size: 0.75rem !important;
	/* line-height: 1.5rem; */
	font-weight: 400 !important;
	font-style: normal;
	/* transform: scale(0.4); */
	/* transform-origin: left center; */
	transform: translateY(-3.95rem);
}
