#grid {
	display: block;
	position: absolute;
	top: 0;
	left: -0.5px;
	height: 100%;
	width: 79em;
	overflow: hidden;
	letter-spacing: -1em;
}
.gridLine, .gridLine-Centre, .gridLine-Important, .gridLine-Core{
	height: 100%;
	width: 1px;
	display: inline-block;
	margin-right: 19px;
}
.gridLine{
	background-color: lightblue;
}
.gridLine-Centre{
	background-color: pink;
}
.gridLine-Important{
	background-color: rgb(8, 156, 248);
}
.gridLine-Core{
	background-color: blue;
}
/* 【1】#############################
宽度大于1820的窗口，或经过1.25倍放大的宽度大于2275的窗口
适用于1920宽的屏幕，或经过1.25倍放大的2560宽的屏幕
正文每行36字，字号20。边注每行24字，字号15；宽度等同于正文18字 */
@media screen and (min-width: 1840px) {
	#whole {
		width: 1820px;
	}
	#bar {
		width: 3rem;
	}
	#page {
		width: 78rem;
		left: 7rem;
	}
	.titleLine {
		font-size: 3rem;
		line-height: 4rem;
	}

	#mainContent {
		width: 57rem;
		left: 21rem;
	}
	article {
		margin-right: 21rem;
	}
	.sideNote {
		left: 39rem;
		width: 18rem;
	}
}

/* 【2】#############################
宽度1380—1820的窗口，或经过1.25倍放大的宽度1725—2275的窗口
适用于1440宽的屏幕，或经过1.25倍放大的1920宽的屏幕
正文每行30字，字号20。边注每行16字，字号15；宽度等同于正文12字 */
@media screen and (min-width: 1400px) and (max-width: 1840px) {
	#whole {
		width: 1380px;
		/* background-color: black; */
	}
	#bar {
		width: 3rem;
	}
	#page {
		width: 60rem;
		left: 6rem;
	}
	#metaInfo {
		width: 12rem;
		top: 8.25rem;
		left: -15rem;
		font-size: 0.625rem;
	}
	#index {
		font-size: 0.8rem;
	}
	.metaInfo-Seperator {
		width: 35px;
		margin: 0.35rem auto;
	}
	#mainTitleArea {
		margin-left: 15rem;
		width: 45rem;
	}
	#title {
		width: 30rem;
	}
	.titleLine {
		font-size: 2.5rem;
		line-height: 3.3rem;
		margin-bottom: 0.8rem;
		height: 2.5rem;
	}
	#timeAuthorRevision {
		width: 12rem;
		left: 33rem;
		font-size: 0.65rem;
		tab-size: 3em;
	}
	#tableOfContent {
		width: 12rem;
		top: 105px;
	}
	#mainContent {
		width: 45rem;
		left: 15rem;
		padding: 1rem 0 2rem 0;
	}
	article {
		margin-right: 15rem;
	}
	.sideNote {
		left: 33rem;
		width: 12rem;
	}
}
/* 【3】#############################
宽度1020—1380的窗口，或经过1.25倍放大的宽度1275—1725的窗口
适用于1080宽的屏幕，或经过1.25倍放大的1440宽的屏幕
正文每行27字，字号20。边注每行12字，字号15；宽度等同于正文9字 */
@media screen and (min-width: 1040px) and (max-width: 1400px) {
	#whole {
		width: 1020px;
		/* background-color: navy; */
	}
	#bar {
		width: 3rem;
	}
	#page {
		width: 39rem;
		left: 9rem;
	}
	#mainTitleArea {
		margin-left: 0rem;
		width: 39rem;
	}
	#metaInfo {
		/* visibility: hidden; */
		display: block;
		position: relative;
		left: 9rem;
		top: 0rem;
		width: 9rem;
		margin: 6rem 0 5rem;
		font-size: 0.5625rem;
	}
	#index {
		font-size: 0.7rem;
	}
	.metaInfo-Seperator {
		width: 30px;
		margin: 0.25rem auto;
	}
	/* #metaInfo {
		font-size: 1.125rem;
	} */

	#title {
		display: block;
		position: static;
		width: 27rem;
	}
	.titleLine {
		font-size: 2.25rem;
		line-height: 3rem;
		margin-bottom: 0.75rem;
		height: 2.25rem;
	}

	#toc-PlaceHolder {
		display: none;
	}
	#toc-Container {
		display: none;
	}
	#tableOfContent {
		display: none;
	}

	#mainContent {
		width: 39rem;
		padding: 2rem 0 2rem 0;
		margin-top: 25rem;
		left: 0rem;
	}
	article {
		margin-right: 12rem;
	}
	/* h3 {
		font-size: 1.125rem;
	} */
	.sideNote {
		left: 30rem;
		width: 9rem;
	}
}
/* 【4】#############################
宽度660—1020的窗口，或经过1.25倍放大的宽度825—1275的窗口
正文每行27字，字号20。*/
@media screen and (min-width: 680px) and (max-width: 1040px) {
	#whole {
		width: 660px;
		/* background-color: cadetblue; */
	}
	#bar {
		height: 60px;
		width: 100%;
		display: block;
		position: fixed;
		z-index: 10;
		/* background-color: var(--colour-paper); */
		/* box-shadow: 0 0 10px var(--colour-shadow); */

		/* background-color: rgba(255, 255, 255, 0.9); */
		border-right: 0px solid var(--colour-line-dark);
		border-bottom: 1px solid var(--colour-line-dark);
		/* border-top: 0.5px solid #999; */
		/* backdrop-filter: blur(5px); */
	}
	#logotype {
		height: 60px;
		width: fit-content;
		top: 0;
		margin: 0 auto;
	}
	/* #logotype::before {
		width: 8px;
		height: 0;
		top: 0px;
		left: 0;
		transition-property: height, top;
	}
	#logotype:hover:before {
		width: 8px;
		height: 60px;
		top: 0;
		left: 0;
		transition-property: height, top;
	} */
	#logo {
		width: auto;
		height: 32px;
		top: 14px;
		left: auto;
	}
	#halfBar {
		width: 50%;
		height: 100%;
	}
	#changeTypeMenu-Button {
		top: 10px;
		right: 15px;
		left: auto;
		bottom: auto;
	}
	/* #changeTypeMenu-ButtonSVG {
		transform: rotate(180deg);
	} */
	#pageTypography-Button {
		top: 10px;
		right: 58px;
		left: auto;
		bottom: auto;
	}
	/* #gradient {
		display: block;
		position: fixed;
		width: 100%;
		height: 10px;
		background: linear-gradient(
			var(--colour-paper),
			rgba(248, 248, 244, 0)
		);
	} */
	#page {
		width: 660px;
		display: block;
		left: 0rem;
	}

	#mainTitleArea {
		width: 27rem;
		display: block;
		/* margin: 0 auto; */
		margin-left: 3rem;
		position: static;
	}
	#metaInfo {
		/* visibility: hidden; */
		display: block;
		position: relative;
		left: 0rem;
		top: 4rem;
		width: 9rem;
		margin: 7rem auto;
		font-size: 0.5625rem;
		/* z-index: 15; */
		margin-top: 5rem;
	}
	#index {
		font-size: 0.7rem;
	}
	.metaInfo-Seperator {
		width: 30px;
		margin: 0.25rem auto;
	}
	#title {
		display: block;
		position: static;
		width: 27rem;
		padding-top: 2rem;
	}
	.titleLine {
		font-size: 2.25rem;
		line-height: 3rem;
		margin-bottom: 0.75rem;
		height: 2.25rem;
		display: inline;
	}

	#toc-PlaceHolder {
		display: none;
	}
	#toc-Container {
		display: none;
	}
	#tableOfContent {
		display: none;
	}

	#mainContent {
		width: 27rem;
		/* left: 15rem; */
		position: static;
		margin: 0 auto;
		margin-top: 2rem;
	}
	article {
		margin: 1rem 0;
	}
	/* h1 {
		width: 27rem;
	} */
	/* h3 {
		font-size: 1.125rem;
	} */
	.sideNote {
		float: right;
		clear: both;
		position: relative;
		left: 0rem;
		width: 9rem;
		margin-left: 3rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
/* 【5】#############################
宽度小于660的窗口，或经过1.25倍放大的宽度小于825的窗口
正文字号20。*/
@media screen and (max-width: 680px) {
	#whole {
		width: 100%;
		/* background-color: firebrick; */
	}
	#bar {
		height: 60px;
		width: 100%;
		display: block;
		position: fixed;
		z-index: 10;
		/* background-color: var(--colour-paper);
		box-shadow: 0 0 8px var(--colour-shadow); */
		/* box-shadow: 0 0 10px var(--colour-shadow); */
		border-right: 0px solid var(--colour-line-dark);
		border-bottom: 1px solid var(--colour-line-dark);
		/* border-top: 0.5px solid #999; */
	}
	#logotype {
		height: 60px;
		width: fit-content;
		margin: 0 auto;
		top: 0;
	}
	/* #logotype::before {
		width: 8px;
		height: 0;
		top: 0px;
		left: 0;
		transition-property: height, top;
	}
	#logotype:hover:before {
		width: 8px;
		height: 60px;
		top: 0;
		left: 0;
		transition-property: height, top;
	} */
	#logo {
		width: auto;
		height: 45px;
		top: 6px;
		left: auto;
	}
	#halfBar {
		width: 50%;
		height: 100%;
	}
	#changeTypeMenu-Button {
		top: 10px;
		right: 15px;
		left: auto;
		bottom: auto;
	}
	/* #changeTypeMenu-ButtonSVG {
		transform: rotate(180deg);
	} */
	#pageTypography-Button {
		top: 10px;
		right: 60px;
		left: auto;
		bottom: auto;
	}
	#page {
		left: 0rem;
		width: calc(100% - 1rem);
		max-width: 27rem;
		display: block;
		position: relative;
		margin: 0 auto;
	}
	#mainTitleArea {
		width: 100%;
		height: fit-content;
		display: block;
		/* margin: 0 auto; */
		margin-left: 0rem;
		position: static;
	}
	#metaInfo {
		/* visibility: hidden; */
		display: block;
		position: relative;
		left: 0rem;
		top: 4rem;
		width: 9rem;
		margin: 7rem auto;
		font-size: 0.5625rem;
		/* z-index: auto; */
		margin-top: 5rem;
	}
	#index {
		font-size: 0.7rem;
	}
	.metaInfo-Seperator {
		width: 30px;
		margin: 0.25rem auto;
	}
	#title {
		display: block;
		position: static;
		width: 100%;
		padding-top: 2rem;
	}
	.titleLine {
		font-size: 2rem;
		line-height: 3rem;
		margin-bottom: 0.75rem;
		height: 2rem;
		display: inline;
	}

	#toc-PlaceHolder {
		display: none;
	}
	#toc-Container {
		display: none;
	}
	#tableOfContent {
		display: none;
	}

	#mainContent {
		width: 100%;
		/* left: 15rem; */
		position: static;
		margin: 0 auto;
		margin-top: 4rem;
	}
	article {
		margin: 1rem 0;
		/* text-align: left !important; */
	}

	.sideNote {
		/* float: right;
		clear: both; */
		position: relative;
		/* left: 0%; */
		/* width: calc(50% - 2rem); */
		margin: 0rem;
		display: inline;
		color: rgb(123, 123, 123);
		/* margin: 0% 2rem; */
	}
	.sideNote::before {
		/* content: "　"; */
		content: " ";
		font-family: var(--font-code);
		font-size: 0.83em;
		line-height: 0.1em;
	}
	.sideNote::after {
		content: " ";
		font-family: var(--font-code);
		font-size: 0.83em;
		line-height: 0.1em;
	}
	.sideNoteMark {
		display: none;
	}
	.tabulation {
		display: none;
	}
}
/* @media (hover: none) {
	#logo {
		animation: logoHover 500ms ease-in-out;
	}
} */
