@font-face {
	font-family: "HEI";
	src: local("Source Han Sans SC"), local("Noto Sans SC");
}
@font-face {
	font-family: "SONG";
	src: local("Source Han Serif SC Semibold"), local("Noto Serif SC Semiold");
}
@font-face {
	font-family: "SANS";
	src: local("Source Sans Pro");
}
@font-face {
	font-family: "SANS i";
	src: local("Source Sans Pro Italic");
}
@font-face {
	font-family: "SERIF";
	src: local("Source Serif Pro");
}
@font-face {
	font-family: "SERIF i";
	src: local("Source Serif Pro Italic");
}
@font-face {
	font-family: "CODE";
	src: local("Courier Prime");
}

@font-face {
	font-family: "SERIF-d";
	src: local("Source Serif Pro Semibold");
}
@font-face {
	font-family: "SERIF-d i";
	src: local("Source Serif Pro Semibold Italic");
}
@font-face {
	font-family: "FANG-KAI";
	src: local("LXGW WenKai");
}

html {
	box-sizing: border-box;
	display: block;
	font-size: 20px;
	line-height: 40px;
	font-family: "HEI", "Noto Sans SC", sans-serif;
	tab-size: 3rem;
	text-justify: auto;
	text-rendering: geometricPrecision;
	background-color: rgb(238, 238, 225);
	/* -webkit-text-size-adjust: none; */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
}

/* 基本属性 */
#whole {
	height: auto;
	/* height: max-content; */
	margin: 0 auto;
	/* background-color: red; */
	position: relative;
	top: 0;
}
#bar {
	padding: 20px;
	height: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	/* background-color: blue; */
}
#page {
	height: 100%;
	display: inline-block;
	/* background-color: yellow; */
	position: relative;
	top: 0;
}

#mainTitle {
	/* padding: 20px 0; */
	height: 20rem;
	display: inline-block;
	position: absolute;
	top: 0;
	/* background-color: orange; */
}
#menuContainer {
	padding: 20px;
	height: 400px;
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	/* background-color: green; */
}
#menuList {
	display: block;
	position: absolute;
	top: 420px;
	left: 0;
	/* background-color: darkgrey; */
}
#mainContent {
	padding: 4rem 0;
	display: block;
	height: auto;
	position: relative;
	top: 0px;
	/* background-color: blueviolet; */
}
article {
	display: block;
	height: auto;
	position: relative;
	top: 0;
	/* background-color: beige; */
	line-height: 1.85rem;
}
.sideNote {
	display: inline-block;
	text-indent: 0;
	position: absolute;
	/* margin-left: 0; */
	clear: both;
	font-size: 0.75rem;
	line-height: 1.4rem;
	/* white-space: break-spaces; */
}
.sideNoteIndex {
	white-space: break-spaces;
}
/* h-char.bd-jiya.bd-open:before,
h-char.bd-jiya.bd-end:after,
h-cs,
h-cs[hidden] {
  font-family: "Hei","Noto Sans SC", sans-serif;
} */

.lorem {
	padding: 10px;
}
h1 {
	font-family: "SONG", "Noto Serif SC";
	font-size: 2.4rem;
	line-height: 3.6rem;
	margin-top: 8rem;
}
h2 {
	font-family: "SONG", "Noto Serif SC";
	font-size: 1.5rem;
	line-height: 2.4rem;
	text-align: center;
	margin: 5rem auto 3rem auto;
}
h3 {
	font-family: "SONG", "Noto Serif SC";
	font-size: 1.2rem;
	line-height: 1.8rem;
	text-align: center;
	margin: 4rem auto 2rem auto;
}
p {
	text-align: justify;
	text-indent: 3rem;
	line-height: 2rem;
	/* margin: 0; */
	/* text-justify: inter-character; */
	/* 中文齐行往字间插入间距 */
}
.song2 {
	font-family: "SONG", "Noto Serif SC";
}
.song3 {
	font-family: "SONG", "Noto Serif SC";
}

blockquote {
	font-family: "Alegreya";
	font-family: "LXGW WenKai";
	/* font-family: "LXGW WenKai Screen"; */
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}
/* 间隔号· */
.JianGeHao {
	font-size: 0.7rem;
	margin: 0% -0.1rem;
	line-height: 0.5rem;
	vertical-align: 0.1rem;
}
/* 破折号⸺ */
.PoZheHao {
	font-feature-settings: "fwid";
	transform: scaleY(1.5);
	display: inline-block;
	text-indent: 0;
}
/* 一字线—半字线– */
.YiZiXian,
.BanZiXian {
	line-height: 0.5rem;
	vertical-align: 0.1rem;
	/* transform: translateY(1rem); */
	/* margin: -0.5rem 0; */
}
/* 拉丁文本 */
.Latin {
	font-family: "Source Sans Pro";
	hyphens: auto;
	/* text-justify: inter-word; */
	/* 西文齐行往词间插入间距 */
}
/* 中西文之间插入四分空 */
h-hws:before,
h-hws[hidden]:before {
	/* content: " "; */
	font-family: "CODE", "Courier Prime", monospace;
	font-size: 1em;
	letter-spacing: -0.35em;
}
/* 标点挤压间距 */
h-char.bd-jiya.bd-end:after,
h-char.bd-jiya.bd-open:before,
h-cs,
h-cs[hidden] {
  font-family: "CODE", "Courier Prime", monospace;
  font-size: 1em;
  letter-spacing: -0.1em;
  /* line-height: 1em; */
}
/* h-hws,
h-hws[hidden] {
	font-family: "CODE", "Courier Prime", monospace;
	font-size: 0.833em;
} */

/* 【1】
宽度大于1860的窗口，或经过1.25倍放大的宽度大于2325的窗口
适用于1920宽的屏幕，或经过1.25倍放大的2560宽的屏幕
正文每行36字，字号20。边注每行24字，字号15；宽度等同于正文18字 */
@media screen and (min-width: 1860px) {
	#whole {
		width: 1860px;
	}
	#bar {
		width: 6rem;
	}
	#page {
		width: 81rem;
		left: 9rem;
	}

	#mainTitle {
		width: 57rem;
		left: 24rem;
	}
	#menuContainer {
		width: 18rem;
	}
	#mainContent {
		width: 57rem;
		left: 24rem;
	}
	article {
		margin-right: 21rem;
	}
	.sideNote {
		left: 39rem;
		width: 18rem;
	}
}

/* 【2】
宽度1380—1860的窗口，或经过1.25倍放大的宽度1725—2325的窗口
适用于1440宽的屏幕，或经过1.25倍放大的1920宽的屏幕
正文每行30字，字号20。边注每行16字，字号15；宽度等同于正文12字 */
@media screen and (min-width: 1380px) and (max-width: 1860px) {
	#whole {
		width: 1380px;
		/* background-color: black; */
	}
	#bar {
		width: 3rem;
	}
	#page {
		width: 60rem;
		left: 6rem;
	}

	#mainTitle {
		width: 45rem;
		left: 15rem;
	}
	#menuContainer {
		width: 12rem;
	}
	#mainContent {
		width: 45rem;
		left: 15rem;
	}
	article {
		margin-right: 15rem;
	}
	.sideNote {
		left: 33rem;
		width: 12rem;
	}
}
/* 【3】
宽度1020—1380的窗口，或经过1.25倍放大的宽度1275—1725的窗口
适用于1080宽的屏幕，或经过1.25倍放大的1440宽的屏幕
正文每行27字，字号20。边注每行12字，字号15；宽度等同于正文9字 */
@media screen and (min-width: 1020px) and (max-width: 1380px) {
	#whole {
		width: 1020px;
		/* background-color: navy; */
	}
	#bar {
		width: 3rem;
	}
	#page {
		width: 39rem;
		left: 9rem;
	}

	#mainTitle {
		width: 39rem;
		/* left: 9rem; */
		position: static;
	}
	#menuContainer {
		width: 39rem;
		position: static;
	}
	#mainContent {
		width: 39rem;
		/* left: 15rem; */
		position: static;
	}
	article {
		margin-right: 12rem;
	}
	.sideNote {
		left: 30rem;
		width: 9rem;
	}
}
/* 【4】
宽度660—1020的窗口，或经过1.25倍放大的宽度825—1275的窗口
正文每行27字，字号20。*/
@media screen and (min-width: 660px) and (max-width: 1020px) {
	#whole {
		width: 660px;
		/* background-color: cadetblue; */
	}
	#bar {
		height: 100px;
		width: 100%;
		display: block;
		position: static;
	}
	#page {
		width: 660px;
		display: block;
		/* left: 9rem; */
	}

	#mainTitle {
		width: 27rem;
		display: block;
		/* left: 9rem; */
		margin: 0 auto;
		position: static;
	}
	#menuContainer {
		width: 27rem;
		position: static;
		margin: 0 auto;
	}
	#menuList {
		position: relative;
		top: 0;
	}
	#mainContent {
		width: 27rem;
		/* left: 15rem; */
		position: static;
		margin: 0 auto;
	}
	article {
		margin: 1rem 0;
	}
	.sideNote {
		float: right;
		clear: both;
		position: relative;
		/* left: 30rem; */
		width: 9rem;
		margin-left: 3rem;
	}
}
/* 【5】
宽度小于660的窗口，或经过1.25倍放大的宽度小于825的窗口
正文字号20。*/
@media screen and (max-width: 660px) {
	#whole {
		width: 100%;
		/* background-color: firebrick; */
	}
	#bar {
		height: 100px;
		width: 100%;
		display: block;
		position: static;
	}
	#page {
		left: 1rem;
		width: calc(100% - 2rem);
		display: block;
		position: relative;
	}

	#mainTitle {
		width: 100%;
		display: block;
		/* left: 9rem; */
		margin: 0 auto;
		position: static;
	}
	#menuContainer {
		width: 100%;
		position: static;
		margin: 0 auto;
	}
	#menuList {
		position: relative;
		top: 0;
	}
	#mainContent {
		width: 100%;
		/* left: 15rem; */
		position: static;
		margin: 0 auto;
	}
	article {
		margin: 1rem 0;
		text-align: left !important;
	}
	p {
		text-align: left !important;
	}
	.sideNote {
		float: right;
		clear: both;
		position: relative;
		left: 0%;
		width: calc(50% - 2rem);
		margin-left: 2.5rem;
		margin-right: 1.5rem;
		/* margin: 0% 2rem; */
	}
}
