/* 下面字体的名称要按照 “full font name” 属性来写 */

/* 【中文】 */

/* ==黑体== */

/* 正文黑体 */
@font-face {
	font-family: "HEI";
	src: local("HYQiHei-55S Book"), local("HYQiHei-60S Regular"),
		local("HarmonyOS Sans SC"), local("MiSans Regular"),
		local("Source Han Sans SC"), local("Noto Sans SC"),
		local("Source Han Sans CN");
	font-weight: 400;
}
/* 标题黑体 */
@font-face {
	font-family: "HEI";
	src: local("HYQiHei-75S Bold"), local("HYQiHei-70S DemiBold"),
		local("HarmonyOS Sans SC Bold"), local("HarmonyOS Sans SC Medium"),
		local("MiSans Demibold"), local("MiSans Semibold"),
		local("Source Han Sans SC Bold"), local("Noto Sans SC Bold"),
		local("Source Han Sans CN Bold");
	font-weight: 700;
}
/* 正文标点黑体 */
@font-face {
	font-family: "HEI-BiaoDian";
	src: local("Source Han Sans SC"), local("Noto Sans SC"),
		local("Source Han Sans CN");
	font-weight: 400;
}
/* 标题标点黑体 */
@font-face {
	font-family: "HEI-BiaoDian";
	src: local("Source Han Sans SC Bold"), local("Noto Sans SC Bold"),
		local("Source Han Sans CN Bold");
	font-weight: 700;
}

/* ==宋体== */

/* 正文宋体 */
@font-face {
	font-family: "SONG";
	src: local("Source Han Serif SC Semibold"), local("Noto Serif SC Semibold"),
		local("Source Han Serif CN Semibold"), local("FZYaSongGBK");
	font-weight: 600;
}
/* 标题宋体 */
@font-face {
	font-family: "SONG";
	src: local("Source Han Serif SC Bold"), local("Noto Serif SC Bold"),
		local("Source Han Serif CN Bold"), local("FZYaSong-B-GBK"),
		local("FZYaSongGBK Bold");
	font-weight: 700;
}
/* 正文标点宋体 */
@font-face {
	font-family: "SONG-BiaoDian";
	src: local("Source Han Serif SC Semibold"), local("Noto Serif SC Semibold"),
		local("Source Han Serif CN Semibold");
	font-weight: 600;
}
/* 标题标点宋体 */
@font-face {
	font-family: "SONG-BiaoDian";
	src: local("Source Han Serif SC Bold"), local("Noto Serif SC Bold"),
		local("Source Han Serif CN Bold");
	font-weight: 700;
}

/* 【西文】 */

/* ==无衬线体== */

/* 正文无衬线正体 */
@font-face {
	font-family: "SANS";
	src: local("Source Sans Pro");
	font-weight: 400;
	font-style: normal;
}
/* 正文无衬线斜体 */
@font-face {
	font-family: "SANS";
	src: local("Source Sans Pro Italic");
	font-weight: 400;
	font-style: italic;
}
/* 标题无衬线正体 */
@font-face {
	font-family: "SANS";
	src: local("Source Sans Pro Semibold");
	font-weight: 600;
	font-style: normal;
}
/* 标题无衬线斜体 */
@font-face {
	font-family: "SANS";
	src: local("Source Sans Pro Semibold Italic");
	font-weight: 600;
	font-style: italic;
}

/* ==衬线体== */

/* 正文衬线正体 */
@font-face {
	font-family: "SERIF";
	src: local("Source Serif Pro");
	font-weight: 400;
	font-style: normal;
}
/* 正文衬线斜体 */
@font-face {
	font-family: "SERIF";
	src: local("Source Serif Pro Italic");
	font-weight: 400;
	font-style: italic;
}
/* 标题衬线正体 */
@font-face {
	font-family: "SERIF";
	src: local("Source Serif Pro Semibold");
	font-weight: 600;
	font-style: normal;
}
/* 标题衬线斜体 */
@font-face {
	font-family: "SERIF";
	src: local("Source Serif Pro Semibold Italic");
	font-weight: 600;
	font-style: italic;
}

/* ==代码等宽体== */

@font-face {
	font-family: "CODE";
	src: local("Source Code Pro Medium");
	font-style: normal;
}
@font-face {
	font-family: "CODE";
	src: local("Source Code Pro Medium Italic");
	font-style: italic;
}

/* —————————————————————————————— */

:root {
	--colour-paper: rgb(251, 250, 248);
	--colour-changeType-unselected: rgb(70, 70, 70);
	--colour-changeType-selected: rgb(190, 176, 156);
	--colour-changeType-hover: rgb(123, 117, 106);
	--colour-link-active-background: rgb(206, 189, 166);
	--colour-1: rgb(188, 171, 147);
	--colour-2: rgb(228, 216, 198);
	--colour-3: rgb(239, 231, 216);
	--colour-bar-hover: rgb(248, 244, 235);
	--colour-bar-active: rgb(238, 232, 217);
	--colour-changeType-button-hover: rgb(242, 237, 228);
	--colour-changeType-button-active: rgb(237, 230, 215);
	--colour-button: rgb(207, 193, 172);
	--colour-shadow: rgb(193, 181, 164);
	--colour-sidenote-mark: rgb(195, 67, 56);
	--font-hei: "HEI", "Noto Sans SC", sans-serif;
	--font-hei-biaodian: "HEI-BiaoDian", "Noto Sans SC";
	--font-song: "SONG", "Noto Serif SC", serif;
	--font-song-biaodian: "SONG-Biaodian", "Noto Serif SC";
	--font-sans: "SANS", "Source Sans Pro", sans-serif;
	--font-serif: "SERIF", "Source Serif Pro", serif;
	--font-code: "CODE", "Source Code Pro", monospace;
}

html {
	box-sizing: border-box;
	display: block;
	font-size: 20px;
	line-height: 40px;
	font-family: var(--font-hei);
	tab-size: 3rem;
	text-justify: auto;
	text-rendering: geometricPrecision;
	background-color: var(--colour-paper);
	font-synthesis: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
}

/* 基本属性 */
#whole {
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 0;
}

#changeTypeMenu-Button {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 15px;
	left: 10px;
	cursor: pointer;
	border-radius: 20px;
	background-color: rgb(174, 157, 133, 0);
	z-index: 15;
}
#changeTypeMenu-Button:hover {
	background-color: var(--colour-changeType-button-hover);
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms;
}
#changeTypeMenu-Button:active {
	background-color: var(--colour-changeType-button-active);
	transition-duration: 10ms;
}
#changeTypeMenu-ButtonSVG {
	width: 4px;
	fill: var(--colour-button);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -2px;
}
#changeTypeMenu-Hint {
	font-size: 0.5rem;
	line-height: 0.6rem;
	display: block;
	position: fixed;
	bottom: 55px;
	left: 65px;
	visibility: hidden;
	opacity: 0;
	width: 5rem;
	color: rgb(145, 145, 145);
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
#changeTypeMenu {
	width: 40px;
	height: 407px;
	background-color: black;
	position: fixed;
	border-radius: 20px;
	padding-top: 6px;
	display: block;
	/* left: 15px; */
	/* bottom: 110px; */
	/* visibility: hidden; */
	/* opacity: 1; */
	/*这些用HTML和JavaScript来控制*/
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms;
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.75rem;
	box-shadow: 0px 0px 10px var(--colour-shadow);
	z-index: 15;
}
.changeTypeMenu-Section {
	margin: 1rem auto;
	line-height: 1.5em;
	color: rgb(208, 208, 208);
}
.changeTypeMenu-Seperator {
	width: 20px;
	height: 1px;
	background-color: rgb(114, 114, 114);
	margin: 25px auto 0px;
}
#changeTypeMenu-FenLei-SONG,
#changeTypeMenu-FenLei-HEI,
#changeTypeMenu-BiaoTi-SONG,
#changeTypeMenu-BiaoTi-HEI,
#changeTypeMenu-FuTi-SONG,
#changeTypeMenu-FuTi-HEI {
	display: block;
	margin: 0.5rem auto;
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	background-color: var(--colour-changeType-unselected);
	font-size: 0.75rem;
	line-height: 1em;
	text-align: center;
	padding: 4px;
	color: white;
	cursor: pointer;
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms;
}
#changeTypeMenu-FenLei-SONG,
#changeTypeMenu-BiaoTi-SONG,
#changeTypeMenu-FuTi-SONG {
	font-family: var(--font-song);
	font-weight: 600;
}
#changeTypeMenu-FenLei-HEI,
#changeTypeMenu-BiaoTi-HEI,
#changeTypeMenu-FuTi-HEI {
	font-family: var(--font-hei);
	font-weight: 400;
}
#changeTypeMenu-FenLei-SONG:hover,
#changeTypeMenu-FenLei-HEI:hover,
#changeTypeMenu-BiaoTi-SONG:hover,
#changeTypeMenu-BiaoTi-HEI:hover,
#changeTypeMenu-FuTi-SONG:hover,
#changeTypeMenu-FuTi-HEI:hover {
	background-color: var(--colour-changeType-hover) !important;
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 100ms;
}
.changeTypeMenu-Section a {
	text-decoration: none;
	color: black;
}

#page {
	height: 100%;
	display: inline-block;
	position: relative;
	top: 0;
}
#bar {
	width: 3rem;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	background-color: var(--colour-paper);
	transition: background-color 200ms ease-in-out;
}
#bar:hover {
	background: var(--colour-bar-hover);
	transition: all 200ms ease-in-out;
}

#logomark {
	width: 24px;
	margin: 24px auto 0;
	display: block;
}
#logotype {
	width: 24px;
	margin: 16px auto;
	display: block;
}
#briefIntroduction-Button {
	width: fit-content;
	height: fit-content;
	display: block;
	position: static;
	margin: 0 auto;
	margin-top: 4rem;
	background-color: var(--colour-paper);
	transition: all 200ms ease-in-out;
	padding: 0 1rem;
	border-radius: 1rem;
}

#briefIntroduction {
	width: auto;
	height: fit-content;
	font-size: 1rem;
	line-height: 1em;
	display: block;
	position: relative;
	font-family: var(--font-song);
	font-weight: 600;
	text-align: center;
	margin-left: 16px;
	padding-bottom: 26px;
}
.singleCharacter {
	text-align: center;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 1px solid transparent;
	margin-right: 16px;
	margin-top: 26px;
	transition: all 200ms ease-in-out;
}
#briefIntroduction-Button:hover {
	cursor: pointer;
}
/* 用于支持鼠标悬浮的设备 */
@media (hover: hover) {
	#briefIntroduction-Button:hover #firstCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
	}
	#briefIntroduction-Button:hover #firstCharacter + .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 50ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 100ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 150ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 200ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 250ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 300ms;
	}
	#briefIntroduction-Button:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionHover 200ms ease-in-out;
		animation-delay: 350ms;
	}
	@keyframes briefIntroductionHover {
		0% {
			transform: translateY(0);
		}
		40%,
		55% {
			transform: translateY(-9px);
		}
		45% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0);
		}
	}
	#briefIntroduction-Button::after {
		content: "";
		width: 0%;
		height: 6px;
		background: linear-gradient(135deg, var(--colour-3), var(--colour-2))
			no-repeat;
		position: absolute;
		display: inline-block;
		left: 50%;
		transition: 200ms ease-in-out;
		transition-property: width, left;
	}
	#briefIntroduction-Button:hover::after {
		width: 180px;
		left: calc(50% - 90px);
		transition: 200ms ease-in-out;
		transition-property: width, left;
		transition-delay: 50ms;
	}
}
/* 用于不支持鼠标悬浮的触摸屏 */
@media (hover: none) {
	#briefIntroduction-Button::after {
		display: none;
	}
	#briefIntroduction-Button:hover::after {
		display: none;
	}
	#briefIntroduction-Button:hover {
		background: rgb(247, 242, 233);
	}
	#briefIntroduction-Button:active {
		background: var(--colour-2);
	}
	/*header:hover #firstCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 000ms;
	}
	header:hover #firstCharacter + .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 050ms;
	}

	header:hover #firstCharacter + .singleCharacter + .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 100ms;
	}

	header:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 150ms;
	}

	header:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 200ms;
	}

	header:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 250ms;
	}

	header:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 300ms;
	}

	header:hover
		#firstCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter
		+ .singleCharacter {
		animation: briefIntroductionJump 200ms ease-in-out;
		animation-delay: 350ms;
	}
	@keyframes briefIntroductionJump {
		0% {
			transform: translateY(0);
		}
		40%,
		55% {
			transform: translateY(-9px);
		}
		45% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0);
		}
	} */
}
#briefIntroduction-Button:active #briefIntroduction,
#briefIntroduction-Button:active::after {
	transform: translateY(3px);
}
#briefIntroduction-Button:active::after {
	background: linear-gradient(
		135deg,
		var(--colour-link-active-background),
		var(--colour-link-active-background)
	);
}
#mainContent {
	padding: 2rem 0;
	display: block;
	height: auto;
	position: relative;
	top: 0rem;
}
section {
	margin: 4rem 0;
	position: relative;
	padding-bottom: 3rem;
}
.sectionInner-Seperator {
	background-color: black;
	width: 1px;
	height: calc(100% - 5rem);
	display: inline-block;
	position: absolute;
	left: 3rem;
	top: 2.5rem;
}
#section-Additional {
	margin: 12rem 0;
	padding-bottom: 0rem;
}
/* #sectionInner-Seperator-Additional {
	height: calc(100% + 2rem);
} */
#sectionInner-Seperator-Additional {
	display: none;
}
.placeHolder {
	display: block;
	width: 6rem;
	height: 2rem;
	position: sticky;
	top: 0;
}
.classificationContainer {
	position: absolute;
	height: 100%;
	width: 6rem;
	top: 0.5rem;
	padding-top: 0rem;
}
.listContainer {
	display: inline-block;
	width: 30rem;
	position: relative;
	left: 12rem;
	top: 1rem;
}
a {
	color: black;
}
a:visited {
	color: black;
}
li a {
	display: inline;
	background: linear-gradient(135deg, var(--colour-3), var(--colour-2))
		no-repeat;
	background-size: 0% 0px;
	background-position: left 0 bottom 2px;
	transition: all 100ms ease-in-out;
}
li a:hover {
	background: linear-gradient(135deg, var(--colour-3), var(--colour-2))
		no-repeat;
	background-size: 100% 16px;
	background-position: left 0 bottom 2px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}
li a:active {
	background: linear-gradient(
			var(--colour-link-active-background),
			var(--colour-link-active-background)
		)
		no-repeat;
	background-size: 100% 16px;
	background-position: left 0 bottom 2px;
	cursor: pointer;
	transition: all 10ms ease-in-out;
}
/* 用于不支持鼠标悬浮的触摸屏 */
@media (hover: none) {
	li a {
		background: linear-gradient(135deg, var(--colour-3), var(--colour-2))
			no-repeat;
		background-size: 100% 4px;
		background-position: left 0 bottom 2px;
		transition: all 200ms ease-in-out;
	}
}

h2 {
	font-family: var(--font-hei);
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1em;
	text-align: right;
	margin: 0;
	display: block;
	width: 6rem;
	position: sticky;
	top: 0rem;
	background-color: var(--colour-paper);
	z-index: 5;
	margin-top: -1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.subDivision {
	margin: 3rem 0;
}
.symbol {
	font-family: var(--font-song);
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.2rem;
	position: relative;
	top: 0;
	display: inline-block;
	width: 6rem;
	text-align: right;
}
ul {
	font-size: 1.2rem;
	line-height: 1.5rem;
	position: relative;
	top: 0rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 1em;
	text-align: left;

	display: inline-block;
	width: 30rem;
	left: 12rem;
	position: absolute;
}

ul,
h3 {
	font-family: var(--font-song);
	font-weight: 600;
}
li {
	display: block;
	list-style-type: none;
	margin-top: 1.5rem;
}
li::marker {
	content: "";
	display: none !important;
}
.subtitle {
	font-size: 0.8rem;
	font-family: var(--font-hei);
	font-weight: 400;
	padding-left: 6rem;
	line-height: 1.5em;
	margin-top: 0.5rem;
}
footer {
	font-size: 0.75rem;
	line-height: 1.25rem;
	padding: 1rem 0rem;
}
.externalLink::after {
	content: "⤴";
	font-family: var(--font-hei);
	font-weight: 400;
	font-size: 0.66em;
	line-height: 0.01em;
	vertical-align: 0.5em;
	color: blue;
}
#creativecommonsIcon {
	margin-top: 3px;
}
footer img {
	height: 22px !important;
	margin-right: 5px;
	vertical-align: text-bottom;
	mix-blend-mode: multiply;
}
/* 其他标题标点符号用思源黑体 */
h-char.bd-jiya.bd-open > h-inner,
h-char.bd-jiya.bd-close > h-inner,
h-char.bd-jiya.bd-cop > h-inner,
h-char.bd-jiya[unicode="ff0e"] > h-inner {
	font-family: var(--font-hei-biaodian);
	font-weight: 400;
	line-height: 0.1em;
}
/* 标题标点符号用思源宋体 */
ul h-char.bd-jiya.bd-open > h-inner,
ul h-char.bd-jiya.bd-close > h-inner,
ul h-char.bd-jiya.bd-cop > h-inner,
ul h-char.bd-jiya[unicode="ff0e"] > h-inner {
	font-family: var(--font-song-biaodian) !important;
	font-weight: 600 !important;
	line-height: 0.1em;
}

/* 分类标点符号用思源黑体 */
article h-char.bd-jiya.bd-open > h-inner,
article h-char.bd-jiya.bd-close > h-inner,
article h-char.bd-jiya.bd-cop > h-inner,
article h-char.bd-jiya[unicode="ff0e"] > h-inner {
	font-family: var(--font-hei-biaodian);
	font-weight: 400;
	line-height: 0.1em;
}

/* 间隔号· */
.JianGeHao {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	font-size: 0.7em;
	line-height: 0.1em;
	vertical-align: 0.15em;
}
.JianGeHao h-inner {
	margin: 0% -0.14286em;
}
/* 省略号…… */
.ShengLyueHao {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	line-height: 0.1em;
}
.ShengLyueHao::before {
	content: "\200B";
	/* 零宽空格 */
}
h-char.bd-end.bd-jiya + .ShengLyueHao::before {
	content: "";
}
/* 破折号⸺ */
.PoZheHao {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	font-feature-settings: "fwid";
	line-height: 0.1em;
	text-shadow: 0 0.02em;
}
.PoZheHao::before {
	content: "\200B";
	/* 零宽空格 */
}
h-char.bd-end.bd-jiya + .PoZheHao::before {
	content: "";
}
/* 一字线— */
.YiZiXian {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	font-feature-settings: "fwid";
	line-height: 0.1em;
	text-shadow: 0 0.02em;
}
/* 半字线– */
.BanZiXian {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	line-height: 0.1em;
	vertical-align: 0.08em;
	margin: 0 -0.0179em;
}
.BanZiXian::before {
	content: "\FEFF";
	/* 零宽不断行空格 */
}

/* 分隔号／ */
.FenGeHao {
	font-family: var(--font-hei-biaodian) !important;
	font-weight: 400 !important;
	line-height: 0.1em;
	transform: scale(0.5, 1);
	display: inline-block;
	text-indent: 0;
	transform: scale(0.5, 0.9);
	margin: 0 -0.25em;
	text-shadow: 0.01em 0.018em, -0.01em -0.018em;
}
/* 拉丁文本 */
.Latin-BiaoTi {
	font-family: var(--font-serif);
	font-weight: 600;
	hyphens: auto;
	font-size: 1.05em;
	line-height: 1em;
}
.Latin-ZhengWen {
	font-family: var(--font-sans);
	font-weight: 400;
	hyphens: auto;
	font-size: 1.1em;
	line-height: 1em;
	/* text-justify: inter-word; */
	/* 西文齐行往词间插入间距 */
}
.Latin-FuTi {
	font-family: var(--font-sans);
	font-weight: 400;
	hyphens: auto;
	font-size: 1.1em;
	line-height: 1em;
}
/* 中西文之间插入四分空 */
h-hws::before,
h-hws[hidden]::before {
	/* content: " "; */
	font-family: var(--font-code);
	font-size: 1em;
	letter-spacing: -0.35em;
	line-height: 0.1em;
}
/* 标点挤压间距 */
h-char.bd-jiya.bd-end::after,
h-char.bd-jiya.bd-open::before,
h-cs,
h-cs[hidden] {
	font-family: var(--font-code);
	font-size: 1em;
	letter-spacing: -0.1em;
	line-height: 0.1em;
}
/* h-char.bd-jiya.bd-middle.bd-consecutive{
	letter-spacing: -0.5em;
}
h-char.bd-jiya.bd-middle.bd-consecutive.end-portion{
	letter-spacing: 0em;
} */
/* 这些是让一些中间标点和前后括号类连用时中间不要有空白的 */
h-char.bd-jiya.bd-middle.bd-consecutive
	+ h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before,
.sideNote + h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before,
.JianGeHao + h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before,
.FenGeHao + h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before,
.BanZiXian + h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before,
.YiZiXian + h-char.bd-jiya.bd-open.bd-consecutive.end-portion::before {
	/* margin-left: -0.5em; */
	content: "";
}
h-char.bd-consecutive[unicode="b7"]:not(.end-portion),
h-char.bd-consecutive[unicode="30fb"]:not(.end-portion) {
	letter-spacing: 0;
}
/* h-char.bd-close.bd-end.bd-jiya + .PoZheHao::before {
	letter-spacing: -0.25em;
} */
/* h-hws,
h-hws[hidden] {
	font-family: "CODE", "Courier Prime", monospace;
	font-size: 0.833em;
} */

/* ————————————响应式设计———————————— */
/* 留20px的滚动条的空间 */

/* 【1】############################# */
@media screen and (min-width: 1180px) {
	#whole {
		width: 1160px;
	}

	#page {
		width: 48rem;
		margin-left: 3rem;
	}

	#mainContent {
		width: 42rem;
		left: 6rem;
	}
	footer {
		width: 33rem;
		margin: 0 0 4rem 9rem;
		border: 1px black solid;
		padding: 2rem 3rem;
	}
}

/* 【2】############################# */
@media screen and (min-width: 900px) and (max-width: 1180px) {
	#whole {
		width: 880px;
	}
	#page {
		width: 36rem;
		margin-left: 2rem;
	}
	#mainContent {
		width: 30rem;
		left: 6rem;
	}
	#briefIntroduction-Button {
		margin-top: 3rem;
	}
	section {
		margin: 0rem 0;
	}
	#section-Additional {
		padding: 2rem 0 3rem;
		margin: 10rem 0;
		border-top: 1px black solid;
		border-bottom: 1px black solid;
	}
	.sectionInner-Seperator {
		width: 100%;
		left: 0;
		height: 1px;
		top: 6.75rem;
	}
	/* #sectionInner-Seperator-Additional {
		display: none;
	} */
	.classificationContainer {
		position: relative;
		padding-top: 4rem;
		top: 0;
	}
	h2 {
		padding-bottom: 0rem;
		text-align: left;
		padding-right: 1rem;
		width: 7rem;
	}
	.listContainer {
		display: block;
		left: 0;
		margin: 2rem 0 0 0;
	}
	.symbol {
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	h3 {
		left: 0;
		width: 30rem;
		display: block;
		text-align: center;
		margin: 1rem auto;
		position: relative;
	}
}
@media screen and (min-width: 900px) and (max-width: 1180px) and (hover: none) {
	#briefIntroduction-Button {
		margin-top: 2rem;
		margin-bottom: -1rem;
	}
}
/* 【3】############################# */
@media screen and (min-width: 668px) and (max-width: 900px) {
	#whole {
		width: 648px;
	}

	#bar {
		position: fixed;
		height: 3rem;
		top: 0rem;
		width: 100%;
		left: 0rem;
		box-shadow: 0 0 8px var(--colour-shadow);
	}
	#logomark {
		height: 32px;
		width: auto;
		margin: 0;
		display: inline-block;
		position: absolute;
		left: 14px;
		top: 14px;
	}
	#logotype {
		height: 27px;
		width: auto;
		margin: 0 auto;
		position: relative;
		top: 16px;
	}
	#page {
		width: 30rem;
		margin: 0 auto;
		display: block;
	}
	#changeTypeMenu-Button {
		top: 11px;
		right: 15px;
		left: auto;
		bottom: auto;
	}
	#changeTypeMenu-ButtonSVG {
		transform: rotate(90deg);
	}
	#mainContent {
		width: 30rem;
		left: 0rem;
	}
	#briefIntroduction-Button {
		margin-top: 6rem;
	}
	section {
		margin: 0rem 0;
	}
	#section-Additional {
		padding: 2rem 0 3rem;
		margin: 10rem 0;
		border-top: 1px black solid;
		border-bottom: 1px black solid;
	}
	.sectionInner-Seperator {
		width: 100%;
		left: 0;
		height: 1px;
		top: 6.75rem;
	}
	/* #sectionInner-Seperator-Additional {
		display: none;
	} */
	.classificationContainer {
		position: relative;
		padding-top: 4rem;
		top: 0;
	}

	.listContainer {
		display: block;
		left: 0;
		margin: 2rem 0 0 0;
	}

	h2 {
		padding-bottom: 0rem;
		text-align: left;
		padding-right: 1rem;
		width: 7rem;
	}
	.symbol {
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	h3 {
		left: 0;
		width: 30rem;
		display: block;
		text-align: center;
		margin: 1rem auto;
		position: relative;
	}
}
@media screen and (min-width: 668px) and (max-width: 900px) and (hover: none) {
	#briefIntroduction-Button {
		margin-bottom: -1rem;
	}
}
/* 【4】############################# */
@media screen and (max-width: 668px) {
	#whole {
		width: 100%;
	}

	#bar {
		position: fixed;
		height: 3rem;
		top: 0rem;
		width: 100%;
		left: 0rem;
		box-shadow: 0 0 8px var(--colour-shadow);
	}

	#logomark {
		height: 32px;
		width: auto;
		margin: 0;
		display: inline-block;
		position: absolute;
		left: 14px;
		top: 14px;
	}
	#logotype {
		height: 40px;
		width: auto;
		margin: 0 auto;
		position: relative;
		top: 10px;
	}
	#page {
		width: calc(100% - 44px);
		max-width: 550px;
		margin: 0 auto;
		display: block;
	}

	#changeTypeMenu-Button {
		top: 11px;
		right: 15px;
		left: auto;
		bottom: auto;
	}
	#changeTypeMenu-ButtonSVG {
		transform: rotate(90deg);
	}

	#mainContent {
		width: 100%;
		left: 0rem;
	}

	#briefIntroduction-Button {
		margin-top: 7rem;
		margin-bottom: 1rem;
		border-radius: 0.5rem;
		padding: 0 0.3rem;
	}
	#briefIntroduction {
		margin-left: 6px;
		padding-bottom: 13px;
		font-size: 0.9rem;
	}
	.singleCharacter {
		margin-right: 6px;
		margin-top: 11px;
		width: 22px;
		height: 22px;
	}

	section {
		margin: 0;
	}
	#section-Additional {
		padding: 2rem 0 3rem;
		margin: 9rem 0;
		border-top: 1px black solid;
		border-bottom: 1px black solid;
	}
	.sectionInner-Seperator {
		width: 100%;
		left: 0;
		height: 1px;
		top: 5.75rem;
	}
	/* #sectionInner-Seperator-Additional {
		display: none;
	} */
	.classificationContainer {
		position: relative;
		padding-top: 3rem;
		top: 0;
	}

	.listContainer {
		width: 100%;
		display: block;
		left: 0;
		margin: 1rem 0 0 0;
	}
	h2 {
		padding-bottom: 0rem;
		font-size: 1.35rem;
		text-align: left;
		padding-right: 1rem;
		width: 6.4rem;
	}
	ul {
		font-size: 1.1rem;
	}
	.subDivision {
		margin: 2rem 0;
	  }
	.subtitle {
		padding-left: 55px;
		font-size: 0.75rem;
	}
	.symbol {
		font-size: 1.1rem;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.35rem;
		left: 0;
		width: 100%;
		display: block;
		text-align: center;
		margin: 1rem auto;
		position: relative;
	}
}
@media screen and (max-width: 668px) and (hover: none) {
	#briefIntroduction-Button {
		margin-top: 5rem;
		margin-bottom: -1rem;
	}
	#briefIntroduction-Button:hover::after {
		width: 50%;
		left: 25%;
	}
}
