html {
	font-size: 22px;
    line-height: 40px;
	/* font-family: 'Segoe UI', "HYqihei 45S", sans-serif;  */
	font-family: "Source Han Sans SC", sans-serif;
	text-shadow: gray;
	tab-size: 2em;
	text-justify: auto;
}

p {
	text-align: justify;
	/* text-justify: inter-character; */
	/* 中文齐行往字间插入间距 */
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

.JianGeHao {
	font-size: 0.7rem;
    margin: 0% -0.1rem;
    line-height: 0.5rem;
	vertical-align: 0.1rem;
	
}

.PoZheHao, .YiZiXian, .BanZiXian {
    line-height: 0.5rem;
	vertical-align: 0.1rem;
    /* transform: translateY(1rem); */
    /* margin: -0.5rem 0; */
}

.Latin {
	/* text-justify: inter-word; */
	/* 西文齐行往词间插入间距 */
}
