html {
	box-sizing: border-box;
	display: block;
	font-size: 20px;
	line-height: 40px;
	/* font-family: 'Segoe UI', "HYqihei 45S", sans-serif;  */
	font-family: "Source Han Sans SC", sans-serif;
	tab-size: 2em;
	text-justify: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
}
@font-face {
	font-family: "Song";
	src: local("Source Han Serif SC");
}
@font-face {
	font-family: "Song cu";
	src: local("Source Han Serif SC Bold");
}
@font-face {
	font-family: "Hei";
	src: local("Source Han Sans SC");
}
/* 基本属性 */
#whole {
	height: auto;
    /* height: max-content; */
	margin: 0 auto;
    background-color: red;
    position: relative;
    top: 0;
}
#bar{
    padding: 20px;
	height: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	background-color: blue;
}
#page{
    height: 100%;
    display: inline-block;
    background-color: yellow;
    position: relative;
    top: 0;
}

#mainTitle{
    padding: 20px;
    height: 400px;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: orange;
}
#menuContainer{
    padding: 20px;
    height: 400px;
    display: block;
    position: sticky;
    top: 0;
    left:0;
    background-color: green;
}
#menuList{
    display: block;
    position: absolute;
    top: 500px;
    left: 0;
    background-color: darkgrey;
}
#mainContent{
    padding: 20px;
    display: block;
    height: auto;
    position: relative;
    top: 0px;
    background-color: blueviolet;
}
article{
    display: block;
    height: auto;
    position: relative;
    top: 0;
    background-color: beige;
}

/* 宽度大于1860的窗口，或经过1.25倍放大的宽度大于2325的窗口
适用于1920宽的屏幕，或经过1.25倍放大的2560宽的屏幕
正文每行36字，字号20。边注每行24字，字号15；宽度等同于正文18字 */
@media screen and (min-width: 1860px) {
	#whole {
        width: 1860px;
    }
    #bar{
        width: 6rem;
    }
    #page{
        width: 81rem;
        left: 9rem;
    
    }
    
    #mainTitle{
        width: 57rem;
        left: 24rem;
    }
    #menuContainer{
        width: 18rem;
    }
    #mainContent{
        width: 57rem;
        left: 24rem;
    }
}

/* 宽度1380—1860的窗口，或经过1.25倍放大的宽度1725—2325的窗口
适用于1440宽的屏幕，或经过1.25倍放大的1920宽的屏幕
正文每行30字，字号20。边注每行16字，字号15；宽度等同于正文12字 */
@media screen and (min-width: 1380px) and (max-width: 1860px) {
	#whole {
        width: 1380px;
        background-color: black;
    }
    #bar{
        width: 3rem;
    }
    #page{
        width: 60rem;
        left: 6rem;
    
    }
    
    #mainTitle{
        width: 45rem;
        left: 15rem;
    }
    #menuContainer{
        width: 12rem;
    }
    #mainContent{
        width: 45rem;
        left: 15rem;
    }

}
/* 宽度1020—1380的窗口，或经过1.25倍放大的宽度1275—1725的窗口
适用于1080宽的屏幕，或经过1.25倍放大的1440宽的屏幕
正文每行27字，字号20。边注每行12字，字号15；宽度等同于正文9字 */
@media screen and (min-width: 1020px) and (max-width: 1380px) {
	#whole {
        width: 1020px;
        background-color: navy;
    }
    #bar{
        width: 3rem;
    }
    #page{
        width: 39rem;
        left: 9rem;
        }
    
    #mainTitle{
        width: 39rem;
        /* left: 9rem; */
        position: static;
    }
    #menuContainer{
        width: 39rem;
        position: static;
    }
    #mainContent{
        width: 39rem;
        /* left: 15rem; */
        position: static;
    }

}
.lorem {
	padding: 10px;
}
h1 {
	font-family: "Song Cu";
	font-size: 30px;
	line-height: 30px;
}
h2 {
	font-family: "Song Cu";
}
p {
	text-align: justify;
	text-indent: 3em;
	/* margin: 0; */
	/* text-justify: inter-character; */
	/* 中文齐行往字间插入间距 */
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

.JianGeHao {
	font-size: 0.7rem;
	margin: 0% -0.1rem;
	line-height: 0.5rem;
	vertical-align: 0.1rem;
}

.PoZheHao,
.YiZiXian,
.BanZiXian {
	line-height: 0.5rem;
	vertical-align: 0.1rem;
	/* transform: translateY(1rem); */
	/* margin: -0.5rem 0; */
}

.Latin {
	/* text-justify: inter-word; */
	/* 西文齐行往词间插入间距 */
}
