html {
    font-size: 18px;
    /* font-family: 'Segoe UI', "HYqihei 45S", sans-serif;  */
    font-family: "Source Han Sans", sans-serif;
    text-shadow: gray;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
}